<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.utilities.vibal.utilities">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.cashBoxItem.CashBoxItemActivity"
            android:label="@string/title_activity_cash_box_item"
            android:parentActivityName=".ui.cashBoxManager.CashBoxManagerActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.utilities.vibal.utilities.ui.cashBoxManager.CashBoxManagerActivity" />
        </activity>
        <activity
            android:name=".ui.cashBoxManager.CashBoxManagerActivity"
            android:label="@string/main_cashBoxManager"
            android:parentActivityName=".ui.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.utilities.vibal.utilities.ui.MainActivity" />
        </activity>
        <activity
            android:name=".ui.randomChooser.RandomChooserActivity"
            android:label="@string/main_randomChooser"
            android:parentActivityName=".ui.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.utilities.vibal.utilities.ui.MainActivity" />
        </activity>
        <activity
            android:name=".ui.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>